@charset "utf-8";
.borderband {
	border: 5px solid rgba(64,204,163,1.00);
	background-color: rgba(213,235,182,0.50);
	margin: 20px 0px 30px 0px;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
}
.borderband h1 {
	color:rgba(130,65,31,1.00);
	font-weight:bolder;
}
.borderband ul {
	color: white;
	background-color: rgba(0,0,0,0.60);
	padding-top: 15px;
	padding-bottom: 15px;
	/* [disabled]padding-left: 15px; */
	padding-right: 15px;
}
.borderband p {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: rgba(0,0,0,0.60);
	color: white;
}

.panel {
	background-color: rgba(0,0,0,0.60);
	color: white;	
}

.panel-title,.panel-heading {
	/* color: rgba(240,179,49,1.00);
	background-color: rgba(0,0,0,0.60);
	font-weight: bolder;*/
	}


.panel-default>.panel-heading {
    color: rgba(240,179,49,1.00);
    background-color: rgba(0,0,0,0.40);
    border-color: #ddd;
}
